<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ProductMe</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="main">
    <div class="container-section">
        <h2>Restaurants</h2>
        <a class="btn btn-secondary" th:href="@{/owners/restaurants/add}">Add a new restaurant</a>
        <table class="table table-hover" th:unless="${restaurants.size() == 0}">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Restaurant name</th>
                <th scope="col">Registration number</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="restaurant : ${restaurants}">
                <td></td>
                <td th:text="${restaurant.name}"></td>
                <td th:text="${restaurant.registrationNumber}"></td>
                <td>
                    <a class="btn btn-secondary" th:href="@{/owners/restaurants/storages/{restaurantId}(restaurantId = ${restaurant.id})}">See storages</a>
                </td>
                <td>
                    <a class="btn btn-secondary" th:href="@{/owners/restaurants/edit/{restaurantId}(restaurantId = ${restaurant.id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${restaurants.size() == 0}"><h3 class="container-title">You do not have restaurants registered</h3></div>
    </div>
</div>

<div th:replace="fragments/footer"></div>
</body>

</html>