<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Logs</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="main">
    <div class="container-section">
        <h1 class="container-title">Logs</h1>
        <form class="search-form" th:action="@{/owners/logs/page/1}" method="GET">
            <div class="input-group">
                <input class="form-control search-form-text" type="text" name="message" placeholder="Search for logs by message" th:value="${message}">
                <input class="btn btn-secondary" type="submit" value="Search">
            </div>
        </form>
        <table th:unless="${logs.size() == 0}" class="table">
            <tr>
                <th scope="col">Created</th>
                <th scope="col">User ID</th>
                <th scope="col">Restaurant ID</th>
                <th scope="col">Status</th>
                <th scope="col">Info</th>
            </tr>
            <tbody>
                <tr scope="row" th:each="log : ${logs}">
                    <td th:text="${log.created}"></td>
                    <td th:text="${log.userId}"></td>
                    <td th:text="${log.restaurantId}"></td>
                    <td th:text="${log.status}"></td>
                    <td th:text="${log.message}"></td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex" th:unless="${logs.size() == 0}">
            <ul class="pagination pagination-sm mx-auto">
                <a th:if="${currentPage > 1}" class="btn btn-success"
                   th:href="@{/owners/logs/page/{pageNumber}(pageNumber = ${currentPage-1}, message = ${message})}"> Previous </a>
                <li class="page-item disabled"><a href="#" th:text="${currentPage}" class="btn btn-dark"></a></li>
                <a th:if="${currentPage != totalPages}" class="btn btn-success"
                   th:href="@{/owners/logs/page/{pageNumber}(pageNumber = ${currentPage + 1}, message = ${message})}"> Next </a>
            </ul>
        </div>

        <div th:if="${logs.size() == 0}"><h3 class="container-title">No logs found.</h3></div>
    </div>
</div>

<div th:replace="fragments/footer"></div>
</body>

</html>