<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Products list</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<!--<table th:unless="${products.size() == 0}">-->
<table>
    <thead>
    <tr>
        <th>ddd</th>
        <th>asda</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="product : ${products}">
        <td></td>
        <td th:text="${product.productId}"></td>
        <td th:text="${product.name}"></td>


<!--        <td>-->
<!--            <a class="btn btn-primary" th:href="@{/lib-dashboard/edit-author/{authorId}(authorId=${author.id})}"-->
<!--               th:text="Edit"></a>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer"></div>
</body>

</html>