<nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="isAuthenticated()" id="navbar">
    <div class="container-fluid ">
        <a class="navbar-brand" id="navbarUsername" th:href="@{/profile}"><img id="profilePic" th:src="${#authentication.getPrincipal().picture}"/> <span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav" sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/admins">Admin dashboard</a></li>
            </ul>
            <ul class="navbar-nav" sec:authorize="hasRole('ROLE_OWNER')">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/admins">Admin dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/owners">Owner dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/owners/restaurants">Restaurant dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/owners/employees">Employees</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item float-end"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>