<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ooops...</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
  <div class="d-flex justify-content-center">
      <div class="container bg-light login">
         <h1> Hi there. An error occured :/ Please contact us on discord: chriss#8671 </h1>
      </div>
  </div>
<div th:replace="fragments/footer"></div>
</body>
</html>