<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ProductMe</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="auth" sec:authorize="isAnonymous()">
    <div class="d-flex justify-content-center">
        <div class="container bg-light login">
            <h1><b>ProductMe</b></h1> <hr>
            <p> Are you a company owner? <a href="/register-company" >Create a new profile for yourself</a> and manage your restaurant. <br>
            <p> Already have a profile? <a href="/login"> Sign in here </a></p>
        </div>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
</div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>