* {
    margin: 0;
    padding: 0;
}

#login {
    background-color: bisque;
    background-image: url("images/login_page_background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}