@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #F8F8F8;
    background-image: url("../images/login_page_background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.main {
    width: 90%;
    margin: 0 5% 0 5%;
    background-color:#F8F8F8;
    min-height: 85vh;
    padding: 20px 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 90%;
}
.auth .login {
    border: 1px gray solid;
    border-radius: 10px;
    min-width: 450px;
    max-width: fit-content;
    padding: 10px 40px 40px 40px;
    margin-top: 40px;
    margin-bottom: 3rem;
}

.auth .login input {
    border: 1px #777777 solid;
    border-radius: 3px;
}

.auth label {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    z-index: -1;
}
#navbarNav {
    margin-right: 3%;
}
#navbarUsername {
    margin-left: 5%;
    padding: 0;
}
#navbar {
    opacity: 90%;
}
.lang {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.lang a {
    cursor: pointer;
    width: 27px;
}
.lang a:hover {
    font-weight: bold;
}


#profilePic {
    height: 40px;
    object-fit: cover;
    padding-right: 5px;
}
.errorMessage {
    color: red;
    font-style: italic;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
    min-height: 200px;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.infoText {
    font-style: italic;
}
.container-section{
    max-width: 100%;
    overflow: auto;
}
#logo {
    z-index: 1;
    height: 40px;
    border-radius: 10px;
}
.login #logo {
    height: 80px;
    border-radius: 20px;
}
#homePageLogo {
    height: 30rem;
    width: auto;
}
.homePageWelcome {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px #30404b;
    margin-top: 40px;
}