@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #F8F8F8;
    background-image: url("images/login_page_background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main {
    width: 90%;
    margin: 0 5% 0 5%;
    background-color:#F8F8F8;
    min-height: 85vh;
    padding: 20px 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 90%;
}
.auth .login {
    border: 1px gray solid;
    border-radius: 10px;
    min-width: 30%;
    max-width: fit-content;
    padding: 40px;
    margin-top: 40px;
}

.auth .login input {
    border: 1px #777777 solid;
    border-radius: 3px;
}

.auth label {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}
#navbarNav {
    margin-right: 5%;
}
#navbarUsername {
    margin-left: 5%;
    padding: 0;
}
#navbar {
    opacity: 90%;
}
.lang {
    position: absolute;
    top: 53px;
}
.lang a {
    cursor: pointer;
}

#profilePic {
    height: 40px;
    object-fit: cover;
    padding-right: 5px;
}
.errorMessage {
    color: red;
    italic: true;
}