@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}

.auth {
    background-color: honeydew;
    background-image: url("images/login_page_background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.auth .login {
    border: 1px gray solid;
    border-radius: 10px;
    min-width: 30%;
    max-width: fit-content;
    padding: 40px;
    margin-top: 40px;
}

.auth .login input {
    border: 1px gray solid;
    border-radius: 3px;
}

.auth label {
    display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}