<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div id="login" class="auth">
    <div class="d-flex justify-content-center">
        <div class="container bg-light login">
            <h1><b>ProductMe</b></h1> <hr>
            <div th:if="${param.wrong != null}">
                Invalid username or password!
            </div>
            <form th:action="@{/login}" method="post">
                <div>
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username" autofocus="autofocus" required/>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required/>
                    </div>
                    <button class="btn btn-primary" type="submit">Sign in</button>
                </div >
            </form>
            <i>Don't have an account? <a href="../register-company">Register</a></i>
            <p th:if="${param.wrong != null}"><i>In case you forgot your password/username, contact your company storage system administrator.</i></p>
        </div>
    </div>
    <div th:replace="fragments/footer"></div>
</div>
</body>

</html>