<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div id="register-company">
    <div class="d-flex justify-content-center">
        <div class="container bg-light login">
            <form th:action="@{/register-company}" th:object="${company}" method="POST" enctype="utf8">
                <h3>Information about the owner: </h3>
                <div>
                    <label>First name:</label>
                    <input th:field="*{personName}"/>
                    <p th:each="error : ${#fields.errors('personName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>Surname:</label>
                    <input th:field="*{personSurname}"/>
                    <p th:each="error : ${#fields.errors('personSurname')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>Personal code (no -):</label>
                    <input th:field="*{personalCode}"/>
                    <p th:each="error : ${#fields.errors('personalCode')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>Username:</label>
                    <input th:field="*{username}"/>
                    <p th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>Email:</label>
                    <input type="email" th:field="*{email}"/>
                    <p th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" th:field="*{password}"/>
                    <p th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>Password again:</label>
                    <input type="password" th:field="*{matchingPassword}"/>
                </div>

                <h3>Information about the company: </h3>
                <div>
                    <label>Company name:</label>
                    <input th:field="*{companyName}"/>
                    <p th:each="error: ${#fields.errors('companyName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>Registration number:</label>
                    <input th:field="*{registrationNumber}"/>
                    <p th:each="error : ${#fields.errors('registrationNumber')}"
                       th:text="${error}">Validation error</p>
                </div>

                <button type="submit">Register!</button>
            </form>

            <a th:href="@{/login.html}">Already have a company registered? Log in.</a>
        </div>
    </div>
</div>
</body>

</html>