<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Register Company</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>
<div id="register-company" class="auth">
    <div class="d-flex justify-content-center">
        <div class="container bg-light login">
            <form th:action="@{/register-company}" th:object="${company}" method="POST" enctype="utf8">
                    <h3>Information about the owner</h3><hr>
                    <div>
                        <div class="form-group">
                            <label for="personName">First name:</label>
                            <input class="form-control" id="personName" placeholder="First name" th:field="*{personName}" required/>
                            <p th:each="error : ${#fields.errors('personName')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="personSurname">Surname:</label>
                            <input class="form-control" id="personSurname" placeholder="Surname" th:field="*{personSurname}" required/>
                            <p th:each="error : ${#fields.errors('personSurname')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="personCode">Personal code:</label>
                            <input class="form-control" id="personCode" placeholder="Personal code" th:field="*{personalCode}" required/>
                            <p th:each="error : ${#fields.errors('personalCode')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input class="form-control" id="username" placeholder="Username" th:field="*{username}" required/>
                            <p th:each="error: ${#fields.errors('username')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" placeholder="Email" type="email" th:field="*{email}" required/>
                            <p th:each="error : ${#fields.errors('email')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class="form-control" id="password" placeholder="Password" type="password" th:field="*{password}" required/>
                            <p th:each="error : ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="passwordAgain">Password again:</label>
                            <input class="form-control" id="passwordAgain" placeholder="Repeat password" type="password" th:field="*{matchingPassword}" required/>
                        </div>
                    </div>
                    <h3>Information about the company</h3><hr>
                        <div class="form-group">
                            <label for="companyName">Company name:</label>
                            <input class="form-control" id="companyName" placeholder="Company name" th:field="*{companyName}" required/>
                            <p th:each="error: ${#fields.errors('companyName')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="regNumber">Registration number:</label>
                            <input class="form-control" id="regNumber" placeholder="Registration number" th:field="*{registrationNumber}" required/>
                            <p th:each="error : ${#fields.errors('registrationNumber')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    <button class="btn btn-primary" type="submit">Register!</button>
            </form>
            <i>Already registered? <a href="../login">Log in</a></i>
        </div>
    </div>
    <div th:replace="fragments/footer"></div>
</div>
</body>

</html>